<!doctype html>
<html>

<head>
    <title>
        {% block title %}
            Podcast Radio
        {% endblock %}
    </title>
</head>

<body>
    <script src="https://code.jquery.com/jquery.js"></script>

    {% if 'user_id' in session %} 
        <button id="logout"><a href="/logout">Logout</a></button>
        <button id="user_profile"><a href="/userprofile">User Profile</a></button>
    {% else %}
        <button id="login"><a href="/login">Login</a></button>
        <button id="sign_up"><a href="/signup">Sign Up</a></button>
    {% endif %}


    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    {% block content %}
    {% endblock %}

    {% if g.jasmine_tests %}
        <!-- stuff for testing -->
        <link rel="stylesheet" href="/static/js_test/jasmine.min.css">
        <script src="/static/js_test/jasmine.min.js"></script>
        <script src="/static/js_test/jasmine-html.min.js"></script>
        <script src="/static/js_test/boot.min.js"></script>
        <!-- end of stuff for testing -->
    {% endif %}

    {% block js_tests %}
    {% endblock %}

</body>


</html>