{% extends "base.html" %}


{% block title %}
{% endblock %}

{% block content %}

<h1>Let's see the podcasts!</h1>


<div id="category" class="btn-group-vertical" role="group">

  <button type="button" class="btn btn-default" value="News">News & Politics</button>
  <button type="button" class="btn btn-default" value="Culture">Culture</button>
  <button type="button" class="btn btn-default" value="Comedy">Comedy</button>
  <button type="button" class="btn btn-default" value="Arts">Arts</button>
  <button type="button" class="btn btn-default" value="Business">Business</button>
  <button type="button" class="btn btn-default" value="Education">Education</button>
  <button type="button" class="btn btn-default" value="Science">Science</button>
  <button type="button" class="btn btn-default" value="Kids">Kids</button>
  <button type="button" class="btn btn-default" value="Music">Music</button>
  <button type="button" class="btn btn-default" value="Sports">Sports</button>
  <button type="button" class="btn btn-default" value="Government">Government</button>
  <button type="button" class="btn btn-default" value="Technology">Technology</button>
  <button type="button" class="btn btn-default" value="Health">Health</button>
  <button type="button" class="btn btn-default" value="TV">TV</button>

</div>

<div id="media">
  <h3>Station: <span id="station"></span></h3>
  <p>About: <span id="podcast-description"></span></p>

  <audio id="player" controls autoplay>

  </audio>
  
  <br>
  <button>Skip</button>
  <button>I love it!</button>
</div>



<script src="/static/get_podcast.js"></script>
{% endblock %}

{% block js_tests %}
     <!-- <script src="/static/js_test/play_podcasts_tests.js"></script> -->
{% endblock %}