{% extends "base.html" %}

{% block content %}

<h1>Sign up to listen to ALL the podcasts!</h1>

<form action="/signup" method="POST">

  <label>Name: </label><input type="test" name="name" id="name"><br>
  <label>Email address: </label><input type="text" name="email_address" id="email"><br>
  <label>Password: </label><input type="password" name="password" id="password"><br>
  <label>Age: </label><input type="number" name="age" id="age"><br>
  <label>Gender: </label>Female <input type="radio" name="sex" value="female" id="f">
  Male <input type="radio" name="sex" value="male" id="m">
  <br>
  <label>Zipcode: </label><input type="text" name="zipcode" id="zip"><br>
  <br><br>
  <input type="submit" id="submit" value="Sign me up!">

</form>


{% endblock %}