{% extends "base.html" %}

{% block content %}

<h2>User Profile</h2>

<label>Name: {{ user.name }}</label><br>
<label>Email: {{ user.email }}</label><br>
<label>Age: {{ user.age }}</label><br>

<br>

<button id="listen"><a href="/podcasts">Listen Now!</a></button>

<br>

<table class="table table-striped">
  <thead>
    Recent History
    <tr>
      <th>Date</th>
      <th>Podcast ID</th>
    </tr>
  </thead>
  <tbody>
    {% for record in history %}
    <tr>
      <td>{{ record.listened_at.strftime('%Y-%m-%d at %I:%M:%S') }}</td>
      <td>{{ record.podcast_id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    Likes
    <tr>
      <th>Podcast ID</th>
    </tr>
  </thead>
  <tbody>
    {% for record in skip_like %}
      {% if record.love %}
      <tr>
        <td>{{ record.podcast_id }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    Skipped
    <tr>
      <th>Podcast ID</th>
    </tr>
  </thead>
  <tbody>
    {% for record in skip_like %}
      {% if record.skip %}
      <tr>
        <td>{{ record.podcast_id }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>


{% endblock %}