{% extends "base.html" %}

{% block content %}
<br>
<div class="col-xs-3">
  <div class="well col-xs-10 bg_gray">
    <h2>User Profile</h2>

    <label>Name: {{ user.name }}</label><br>
    <label>Email: {{ user.email }}</label><br>

    <br>

    <a class="btn btn-default bg_gray" href="/podcasts"><span class="glyphicon glyphicon-play-circle"></span> Listen Now!</a>

    <br>
  </div>
</div>

<div class="col-xs-12 col-sm-5 well bg_gray">
  <table class="table table-hover table-striped">
    <thead>
      <h4>Recent History</h4>
      <tr>
        <th>Date</th>
        <th>Podcast ID</th>
      </tr>
    </thead>
    <tbody>
      {% for record in history %}
      <tr>
        <td>{{ record.listened_at.strftime('%Y-%m-%d at %I:%M:%S') }}</td>
        <td>{{ record.podcast_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-sm-4">
  <div class="well col-xs-8 bg_gray">
  <table class="table table-striped">
    <thead>
      <h4>Likes</h4>
      <tr>
        <th>Podcast ID</th>
      </tr>
    </thead>
    <tbody>
      {% for record in skip_like %}
        {% if record.love %}
        <tr>
          <td>{{ record.podcast_id }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <br>
  <table class="table table-striped">
    <thead>
      <h4>Skipped</h4>
      <tr>
        <th>Podcast ID</th>
      </tr>
    </thead>
    <tbody>
      {% for record in skip_like %}
        {% if record.skip %}
        <tr>
          <td>{{ record.podcast_id }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}